.idea/*
*.json
*/terraform.tfstate*
*/terraform.tfvars
azure/tfshow.yaml
deleteme.sh
digitalocean/ssh/*.ppk
digitalocean/ssh/*.pub
gcp/credentials/*.ppk
gcp/credentials/*.pub
output/*
keys/id*
*/creds.tfvars
cred_init.rc
**/*.pyc